body {
  padding-left: 25em;
  font-family: Arial;
  background-image: url("scene3_复制_画板 1.png");
  background-size:cover;
  background-repeat:no-repeat;
  color: #ff7800 }

  p{
     font-size: 25px;}

  button{
    border: 2px solid #ff7800;
    border-radius: 10px;
    color: #b37bff;
    width: 200px;
    height: 60px;
    font-size: 20px;
  }
