body {
  padding-left: 30em;
  font-family: Arial;
  background-image: url("scene3_复制_画板 1.png");
  background-size:cover;
  background-repeat:no-repeat }

h1 {
   font-size: 35px;
   color: #ff7800; }

p{
   font-size: 22px;
   color: #ff7800; }

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }

  .container {
    margin: 86px;
    position: relative;
    width: 700px;
    height: 400px;
  }

  .box1, .box2, .box3, .box4,
  .box5, .box6, .box7, .box8,
  .box9, .box10, .box11, .box12 {
      width: 100px;
      height: 100px;
      position: absolute;
      border: 2px solid yellow;
      background: #ffabb5;
      cursor: pointer;
      transition: background 0.3s ease;
      background-size: cover;
      background-position: center;
      background-repeat:no-repeat
      pointer-events: auto; /* 确保元素可以接收点击事件 */
      z-index: 1; /* 确保牌在最上层 */
  }

  /* 牌正面样式（显示图片） */
  .box.flipped {
    background-image: var(--card-image);
  }



  .box1 {
    left: 0;
    top: 0;
  }

  .box2 {
    left: 110px;
    top: 0;
    border: 2px solid yellow;
  }

  .box3 {
    left: 220px;
    top: 0;
}

  .box4 {
    left: 330px;
    top: 0;
  }

  .box5 {
    left: 0;
    top: 110px;
  }

  .box6 {
    left: 110px;
    top: 110px;
  }

  .box7 {
    left: 220px;
    top: 110px; }

  .box8 {
    left: 330px;
    top: 110px; }

  .box9 {
    left: 0;
    top: 220px; }

  .box10 {
    left: 110px;
    top: 220px;
    border: 2px solid yellow;
  }

  .box11 {
    left: 220px;
    top: 220px;
  }

  .box12 {
    left: 330px;
    top: 220px;
  }

  ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }

  ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }

  ul.navbar a {
       text-decoration: none }
     a:link {
       color: blue }
     a:visited {
       color: purple }
